[Unit]
Description=Gunicorn instance to serve InfraPilot
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/jay/InfraPilot
Environment="PATH=/home/jay/InfraPilot/venv/bin"
ExecStart=/home/jay/InfraPilot/venv/bin/gunicorn --workers 3 --bind unix:infrapilot.sock api.wsgi:application

[Install]
WantedBy=multi-user.target
